extends _bootstrap
append styles
  // Custom styles for this template
  link(href='/stylesheets/style.css', rel='stylesheet')
block body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        a.navbar-brand(href='#') Financial Advisor Dashboard
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li
            a(href='/portfolios') Portfolios
          li
            a(href='/clients') Clients
          li
            a(href='/recommendations') Recommendations
        ul.nav.nav-sidebar
          li
            a(href='/analysis') Analysis
          li
            a(href='/securities') Securities
          li
            a(href='/companies') Companies

  block content